// Color variables
// Styleguide 1.0

$bodyColor: #ffffff;

$colorPrimary: #2CD5C4;

$colorBodyText: #778AA1;
$colorHeadingText: #425B78;

$colorLightBlue: #F0F4F9;
$colorMediumBlue: #536C8A;
$colorDarkBlue: #2E3E51;

$colorLightRed: #F4C1C1;
$colorMediumRed: #CC4848;

$colorLightGreen: #e1fcc4;
$colorMediumGreen: #4F8A10;

$colorOffWhite: #f0f0f0;
$colorLightGrey: #f7f7f7;
$colorMediumGrey: #898989;
$colorDarkGrey: #404040;
